# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/
.env/

# IDE settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Git config
.gitconfig

# SSH keys
*.pub

# Other
*.sqlite
.lesshst